.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  bottom: 0;
  padding: 3rem;
  width: 90%;
  height: 3rem;
  font-size: 0.9rem;
}