/*
 * Header banner elements styles
 */

.banner-header {
  height: 400px;
  background-image: url("/images/header-background.png");
  margin-top: 120px;
  border-bottom: 0.2rem solid #000000;
}

.avatar {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.avatar>img {
  height: 240px;
  width: 240px;
}

.name {
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
}

.name>p {
  margin: 0.8rem;
  font-size: 2.3rem;
  font-weight: 600;
  color: #2b2a2a
}

.username {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.username>p {
  margin: 0;
  font-size: 1.3rem;
}