.banner-header {
  height: 400px;
  background-image: url("/images/header-background.png");
  margin-top: 120px;
}

.avatar {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.avatar>img {
  height: 240px;
  width: 240px;
}

.name {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.name>p {
  margin: 0.8rem;
  font-size: 2.5rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  color: #E6AF2E
}

.username {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.username>p {
  margin: 0;
  font-size: 1.6rem;
  letter-spacing: 0.15rem;
  font-weight: 400;
  color: #E6AF2E
}