nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: #E6AF2E;
  color: #191716;
  padding: 1.5em 1.5em;
}

.logo {
  font-family: 'Bungee';
  font-size: 2rem;
}

.icon {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(44, 33, 5);
}

nav>div>p {
  margin: 0;
}