/*
 * Nav bar elements styles
 */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: #e6b545;
  color: #191716;
  border-bottom: 0.2rem solid #000000;
  padding: 1.5em 1.5em;
}

.logo {
  font-family: 'Bungee';
  font-size: 2rem;
}

.icon {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(29, 29, 29);
  cursor: pointer;
}

nav>div>p {
  margin: 0;
  cursor: pointer;
}