.article-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 16rem;
  margin-top: 3rem;
  border: 0.2rem solid;

}

.header-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.5rem 0rem;
  height: 4rem;
}

.user-tweet {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-tweet>img {
  width: 4rem;
  height: 4rem;
}

.user-tweet>p {
  padding-left: 1rem;
  font-weight: 600;  
}

.content-tweet {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 1.5rem;
  padding-left: 1rem;
  font-size: 1.5rem;
} 

.footer-tweet{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.5rem;
  padding-top: 0.8rem;
  border-top: 0.2rem solid
}

.footer-tweet>p {
  margin: 0rem 0.5rem;
  font-size: 1rem;
}

.actions-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 7rem;
  margin: 0rem 0.5rem;
  font-size: 1.4rem;
}


